{% extends 'core/base.html' %}
{% block titulo %}
Contacto | Sistema de Gestión Escolar
{% endblock %}

{% block background %}{% load static %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>Contacto</h1>
<span class="subheading"></span>
{% endblock%}



{% block content %}
<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        <p>Puede comunicarse con nosotros y le asesoraremos específicamente en base a sus necesidades</p>
        <br>
        <p><b>Teléfono:</b> 099 123 456</p>
        <p><b>Mail</b> info@sge.edu.uy</p>
    </div>
</div>    
{% endblock %}

